<%= render 'shared/navbar'%>

<div class="index-heading">
    <p class="heading-index"> You challenges </p>
</div>

<div class="index-cards-container">
  <% @bets.each do |b| %>

    <div class ="index-card">

      <div class="index-card-topline">
        <div class="index-card-users">
          <span class="index-colored-name"> <%= b.proposer.first_name %></span> <span class="index-light-grey"> challenged </span> <span class="index-colored-name"><%= b.receiver.first_name %></span>
        </div>
        <div class="index-card-odds">
          <%=b.odds.to_r.rationalize(0.05)%>

        </div>
      </div>

      <div class="index-card-proposition">
        <%= link_to bet_path(b) do %>
          <p><%= b.proposition %></p>
        <% end  %>
      </div>

      <div class="index-card-bottomline">
        <div class="index-card-status">
          <p>Status</p>
            <div class="index-card-status-elements">
              <% if b.status == "pending" %>
                <p class="no-margin"> Challenge pending <p>
              <% elsif b.status == "confirmed" %>
                <p class="no-margin"> Challenge live <p>
              <% elsif b.status == "unvalidated" %>
                <p class="no-margin"> Outcome unverified <p>
              <% elsif b.status == "finished" %>
                <p class="no-margin"> Challenge finished <p>
              <% end  %>
            </div>
        </div>
        <% if b.status == "pending" %>
          <%= link_to bet_path(b) do %>
            <div class="index-card-button">
              <p class="no-margin">Accept</p>
            </div>
          <% end %>
        <% elsif b.status == "confirmed" %>
          <%= link_to bet_path(b) do %>
            <div class="index-card-button">
              <p class="no-margin">View</p>
            </div>
        <% end %>
        <% elsif b.status == "unvalidated" %>
          <%= link_to bet_path(b) do %>
            <div class="index-card-button">
              <p class="no-margin">Verify</p>
            </div>
          <% end %>
           <% elsif b.status == "finished" %>
          <%= link_to bet_path(b) do %>
            <div class="index-card-button">
              <p class="no-margin">View</p>
            </div>
          <% end %>
        <% end %>
      </div>



    </div>
  <% end  %>
</div>







