<%= render 'shared/navbar', title: "New Flutter" %>
<br>
<div class="form-container">
<%= simple_form_for [@user, @bet] do |f| %>
  <div class="proposition">
  <div class="form-group text required bet_proposition">
    <label class="form-control-label text required" for="bet_proposition">Proposition
      <abbr title="required">*</abbr>
    </label>
    <textarea class="form-control text required" placeholder="Please explain your yes/no proposition!" name="bet[proposition]" id="bet_proposition"></textarea>
  </div>
  <button class="btn btn-flat button-mar" type="button" id="button-one">Next</button>
 <!--  <button class="btn btn-outline-primary btn-sm" type="button" id="b-button-one">Back</button> -->
</div>
  <div class="deadline d-none">
    <%= f.input :deadline,  as: :string, required: false, placeholder: "Select your Deadline...", input_html: {class: "datepicker"} %>
    <button class="btn btn-flat button-mar" type="button" id="button-two">Next</button>
    <button class="btn btn-outline-primary btn-sm button-mar" type="button" id="b-button-one">Back</button>
  </div>
  <div class="odds-stake d-none">
    <%= f.input :odds, as: :hidden, input_html: { class: "decimal_value"} %>
    <p>Odds</p>
    <p class="decimal_value_text"></p>
    <div class="decimal-slider my-3"></div>
    <%= f.input :stake, as: :hidden, input_html: { class: "price_per_night"} %>
    <p>Stake</p>
    <p class="price-slider-text"></p>
    <div class="money-slider my-3"></div>
    <button class="btn btn-flat button-mar" type="button" id="button-three">Next</button>
    <button class="btn btn-outline-primary btn-sm button-mar" type="button" id="b-button-two">Back</button>
  </div>
    <div class="receiver d-none">
    <p>Search for challenger</p>
    <%= select_tag "receiver", options_from_collection_for_select(
      User.all,
      :id, :username),
      class: 'select' %>
    <br>
    <br>
    <br>
  <button class="btn btn-flat yellow"><%= f.button :submit %></button>
  <button class="btn btn-outline-primary btn-sm button-mar" type="button" id="b-button-three">Back</button>
    </div>
<% end %>
</div>
