<%= render 'shared/betnavbarshow'%>

<div class="bet-show-container">

  <% if current_user == @bet.receiver && @bet.status == "pending" %>

    <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3"> <span class="blue-purple">
          <%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
      </div>

      <div class = "funky-container">
        <div class = "d-flex justify-content-around">
          <div class="bet-odds">
            <p class="grey tiny-text text-center">Odds</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
          </div>
          <div class="bet-stake">
            <p class="grey tiny-text text-center">Stake</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
          </div>
        </div>
        <div class ="timer">
          <p class="text-center tiny-text grey"> Finishes in </p>
          <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
        </div>
      </div>

    </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>

        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
      </div>


      <div class="btn-group-vertical">
        <div class="bet-confirmation">
          <%= link_to 'Accept', bet_path(@bet, receiver_accepting: true), class: 'btn btn-flutter', method: :patch %>
        </div>
        <div class="bet-rejection">
           <%= link_to 'Reject', bet_path(@bet), class: 'btn btn-flutter-alt' %>
        </div>
     </div>
  <% end  %>

  <% if current_user == @bet.proposer && @bet.status == "pending" %>


    <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3"> <span class="blue-purple">
          <%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
      </div>

      <div class = "funky-container">
        <div class = "d-flex justify-content-around">
          <div class="bet-odds">
            <p class="grey tiny-text text-center">Odds</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
          </div>
          <div class="bet-stake">
            <p class="grey tiny-text text-center">Stake</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
          </div>
        </div>
        <div class ="timer">
          <p class="text-center tiny-text grey"> Finishes in </p>
          <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
        </div>
      </div>

    </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>

        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="bet_message">
          <%= image_tag "stopwatch.png", class: "bet_message_icon" %>
          <p class="medium-text blue-purple text-center bold"> Waiting on <%= @bet.receiver.first_name %> to respond </p>
    </div>
  <% end  %>

  <% if @bet.status == "confirmed" %>

    <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3">
          <span class="blue-purple"><%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
        </div>

        <div class = "funky-container">
          <div class = "d-flex justify-content-around">
            <div class="bet-odds">
              <p class="grey tiny-text text-center">Odds</p>
              <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
            </div>
            <div class="bet-stake">
              <p class="grey tiny-text text-center">Stake</p>
              <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
            </div>
          </div>
          <div class ="timer">
            <p class="text-center tiny-text grey"> Finishes in </p>
            <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
          </div>
        </div>
      </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>

        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
      </div>
  <% end %>

  <% if current_user == @bet.proposer && @bet.proposer_verdict == nil && @bet.status == "unvalidated" %>


    <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3"> <span class="blue-purple">
          <%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
      </div>

      <div class = "funky-container">
        <div class = "d-flex justify-content-around">
          <div class="bet-odds">
            <p class="grey tiny-text text-center">Odds</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
          </div>
          <div class="bet-stake">
            <p class="grey tiny-text text-center">Stake</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
          </div>
        </div>
        <div class ="timer">
          <p class="text-center tiny-text grey"> Finishes in </p>
          <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
        </div>
      </div>

      </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>
        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
      </div>


      <div class="btn-group-vertical">
        <div class="bet-validation">
          <%= link_to 'Validate', bet_path(@bet, proposer_verdict_true: true), class: 'btn btn-flutter', method: :patch %>
        </div>
        <div class="bet-invalidation">
            <%= link_to 'Invalidate', bet_path(@bet, proposer_verdict_false: true), class: 'btn btn-flutter-alt', method: :patch %>
        </div>
     </div>
  <% end  %>

  <% if current_user == @bet.proposer && @bet.proposer_verdict != nil && @bet.status == "unvalidated" %>


   <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3"> <span class="blue-purple">
          <%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
      </div>

      <div class = "funky-container">
        <div class = "d-flex justify-content-around">
          <div class="bet-odds">
            <p class="grey tiny-text text-center">Odds</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
          </div>
          <div class="bet-stake">
            <p class="grey tiny-text text-center">Stake</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
          </div>
        </div>
        <div class ="timer">
          <p class="text-center tiny-text grey"> Finishes in </p>
          <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
        </div>
      </div>

      </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>
        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
             </div>

        <div class="bet_message">
          <%= image_tag "stopwatch.png", class: "bet_message_icon" %>
          <p class="medium-text blue-purple text-center bold"> Waiting on <%= @bet.receiver.first_name %> to validate </p>
        </div>
  <% end  %>


  <% if current_user == @bet.receiver && @bet.receiver_verdict == nil && @bet.status == "unvalidated" %>

      <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3"> <span class="blue-purple">
          <%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
      </div>

      <div class = "funky-container">
        <div class = "d-flex justify-content-around">
          <div class="bet-odds">
            <p class="grey tiny-text text-center">Odds</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
          </div>
          <div class="bet-stake">
            <p class="grey tiny-text text-center">Stake</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
          </div>
        </div>
        <div class ="timer">
          <p class="text-center tiny-text grey"> Finishes in </p>
          <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
        </div>
      </div>

      </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>
        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
      </div>


      <div class="btn-group-vertical">
        <div class="bet-validation">
          <%= link_to 'Validate', bet_path(@bet, receiver_verdict_true: true), class: 'btn btn-flutter', method: :patch %>
        </div>
        <div class="bet-invalidation">
            <%= link_to 'Invalidate', bet_path(@bet, receiver_verdict_false: true), class: 'btn btn-flutter-alt', method: :patch %>
        </div>
     </div>
  <% end  %>

  <% if current_user == @bet.receiver && @bet.receiver_verdict != nil && @bet.status == "unvalidated" %>

   <div class= "bet-info-container text-align-center">

          <div class="bet-background-overlay">
            <h3 class="text-center small-text y-3"> <span class="blue-purple">
              <%= @bet.proposer.first_name %></span>
              <span class="grey">challenged</span>
              <span class="blue-purple"><%= @bet.receiver.first_name %></span>
            </h3>
            <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
            <div class="vertical-spacing-medium">
              <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
              <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
          </div>

          <div class = "funky-container">
            <div class = "d-flex justify-content-around">
              <div class="bet-odds">
                <p class="grey tiny-text text-center">Odds</p>
                <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
              </div>
              <div class="bet-stake">
                <p class="grey tiny-text text-center">Stake</p>
                <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
              </div>
            </div>
            <div class ="timer">
              <p class="text-center tiny-text grey"> Finishes in </p>
              <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
            </div>
          </div>

          </div>


          <div class="bet-card-bottomline">
            <div class="bet-card-likers">
              <p>Liked by</p>
                <div>
                  <% if @bet.likes != nil %>
                    <% @bet.likes.each do |like| %>
                      <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                    <% end %>
                  <%end  %>
                </div>
            </div>
            <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
              <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
                <div class="card-opaque bet-card-likes">
                  <i class= "fas fa-thumbs-up like-color card_likes"></i>
                </div>
              <% end %>
            <% else %>
              <%= link_to bet_likes_path(@bet), method: :post do %>
                <div class="card-light bet-card-likes">
                  <i class= "fas fa-thumbs-up like-color card_likes"></i>
                </div>
              <% end %>
            <% end %>

         </div>

         <div class="bet_message">
          <%= image_tag "stopwatch.png", class: "bet_message_icon" %>
          <p class="medium-text blue-purple text-center bold"> Waiting on <%= @bet.proposer.first_name %> to validate </p>
        </div>
  <% end  %>

  <% if @bet.status == "finished" && current_user == @bet.proposer && @bet.final_outcome == true  %>


      <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3"> <span class="blue-purple">
          <%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
      </div>

      <div class = "funky-container">
        <div class = "d-flex justify-content-around">
          <div class="bet-odds">
            <p class="grey tiny-text text-center">Odds</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
          </div>
          <div class="bet-stake">
            <p class="grey tiny-text text-center">Stake</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
          </div>
        </div>
        <div class ="timer">
          <p class="text-center tiny-text grey"> Finishes in </p>
          <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
        </div>
      </div>

      </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>
        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
             </div>


        <div class="bet_message">
          <%= image_tag "purple-confetti.png", class: "bet_message_icon" %>
          <p class="medium-text blue-purple text-center bold"> You won against <%= @bet.receiver.first_name %> </p>
        </div>
  <% end  %>

  <% if @bet.status == "finished" && current_user == @bet.proposer && @bet.final_outcome == false %>

     <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3"> <span class="blue-purple">
          <%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
      </div>

      <div class = "funky-container">
        <div class = "d-flex justify-content-around">
          <div class="bet-odds">
            <p class="grey tiny-text text-center">Odds</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
          </div>
          <div class="bet-stake">
            <p class="grey tiny-text text-center">Stake</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
          </div>
        </div>
        <div class ="timer">
          <p class="text-center tiny-text grey"> Finishes in </p>
          <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
        </div>
      </div>

      </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>
        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
             </div>

       <div class="bet_message">
          <%= image_tag "loser.png", class: "bet_message_icon" %>
          <p class="medium-text blue-purple text-center bold"> You lost to <%= @bet.proposer.first_name %> </p>
        </div>
  <% end  %>


  <% if @bet.status == "finished" && current_user == @bet.receiver && @bet.final_outcome == true  %>


    <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3"> <span class="blue-purple">
          <%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
      </div>

      <div class = "funky-container">
        <div class = "d-flex justify-content-around">
          <div class="bet-odds">
            <p class="grey tiny-text text-center">Odds</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
          </div>
          <div class="bet-stake">
            <p class="grey tiny-text text-center">Stake</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
          </div>
        </div>
        <div class ="timer">
          <p class="text-center tiny-text grey"> Finishes in </p>
          <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
        </div>
      </div>

      </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>
        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>

       </div>


         <div class="bet_message">
          <%= image_tag "loser.png", class: "bet_message_icon" %>
          <p class="medium-text blue-purple text-center bold"> You lost to <%= @bet.proposer.first_name %> </p>
        </div>
  <% end  %>

  <% if @bet.status == "finished" && current_user == @bet.receiver && @bet.final_outcome  == false %>


   <div class= "bet-info-container text-align-center">

      <div class="bet-background-overlay">
        <h3 class="text-center small-text y-3"> <span class="blue-purple">
          <%= @bet.proposer.first_name %></span>
          <span class="grey">challenged</span>
          <span class="blue-purple"><%= @bet.receiver.first_name %></span>
        </h3>
        <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
        <div class="vertical-spacing-medium">
          <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
          <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
      </div>

      <div class = "funky-container">
        <div class = "d-flex justify-content-around">
          <div class="bet-odds">
            <p class="grey tiny-text text-center">Odds</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
          </div>
          <div class="bet-stake">
            <p class="grey tiny-text text-center">Stake</p>
            <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
          </div>
        </div>
        <div class ="timer">
          <p class="text-center tiny-text grey"> Finishes in </p>
          <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
        </div>
      </div>

      </div>


      <div class="bet-card-bottomline">
        <div class="bet-card-likers">
          <p>Liked by</p>
            <div>
              <% if @bet.likes != nil %>
                <% @bet.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>
        <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
          <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
            <div class="card-opaque bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(@bet), method: :post do %>
            <div class="card-light bet-card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
             </div>

        <div class="bet_message">
          <%= image_tag "purple-confetti.png", class: "bet_message_icon" %>
          <p class="medium-text blue-purple text-center bold"> You won against <%= @bet.proposer.first_name %> </p>
        </div>
  <% end  %>

  <% if @bet.status == "finished" && @bet.consensus_reached != true  %>

    <div class= "bet-info-container text-align-center">

        <div class="bet-background-overlay">
          <h3 class="text-center small-text y-3"> <span class="blue-purple">
            <%= @bet.proposer.first_name %></span>
            <span class="grey">challenged</span>
            <span class="blue-purple"><%= @bet.receiver.first_name %></span>
          </h3>
          <h2 class="text-center medium-text black" style="padding-top: 10px;padding-left: 20px;padding-right: 20px;"> <%= @bet.proposition %></h2>
          <div class="vertical-spacing-medium">
            <%= cl_image_tag @bet.proposer.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-1" %>
            <%= cl_image_tag @bet.receiver.photo, height: 50, crop: :fill, class: "avatar-large challenge-avatars challenger-2" %>
        </div>

        <div class = "funky-container">
          <div class = "d-flex justify-content-around">
            <div class="bet-odds">
              <p class="grey tiny-text text-center">Odds</p>
              <p class="medium-text blue-purple text-center bold"> <%= @bet.odds %></p>
            </div>
            <div class="bet-stake">
              <p class="grey tiny-text text-center">Stake</p>
              <p class="medium-text blue-purple text-center bold"> <%= @bet.stake %></p>
            </div>
          </div>
          <div class ="timer">
            <p class="text-center tiny-text grey"> Finishes in </p>
            <strong> <div class="medium-text blue-purple text-center bold" id="countdownTimer"></div> </strong>
          </div>
        </div>

        </div>


        <div class="bet-card-bottomline">
          <div class="bet-card-likers">
            <p>Liked by</p>
              <div>
                <% if @bet.likes != nil %>
                  <% @bet.likes.each do |like| %>
                    <%= cl_image_tag like.user.photo, height: 50, crop: :fill, class: "bet-liker-avatar" %>
                  <% end %>
                <%end  %>
              </div>
          </div>
          <% if  @bet.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
            <%= link_to bet_like_path(@bet.id, @bet.likes.find { |like| like.user_id == current_user.id }), method: :delete do %>
              <div class="card-opaque bet-card-likes">
                <i class= "fas fa-thumbs-up like-color card_likes"></i>
              </div>
            <% end %>
          <% else %>
            <%= link_to bet_likes_path(@bet), method: :post do %>
              <div class="card-light bet-card-likes">
                <i class= "fas fa-thumbs-up like-color card_likes"></i>
              </div>
            <% end %>
          <% end %>
               </div>

          <div class="bet_message">
          <%= image_tag "exclamation.png", class: "bet_message_icon" %>
          <p class="medium-text blue-purple text-center bold"> You were not able to reach consensus </p>
        </div>
  <% end %>

</div>



<script>

      // Set the date we're counting down to
      var countDownDate = new Date('<%=@bet.deadline %>').getTime();
      var now = new Date().getTime();

      // Update the count down every 1 second
      var x = setInterval(function() {
        // Get today's date and time

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("countdownTimer").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("countdownTimer").innerHTML = "EXPIRED";
        }
      }, 1000);
</script>

