<%= render 'shared/navbar', title: "Bet page" %>


<% if current_user == @bet.receiver && @bet.status == "pending" %>


    <h1> You have received a bet... </h1>
    <p> <%= @bet.proposer.first_name %> wants to have a cheeky flutter with you </p>
    <p> They want to wager <%= @bet.stake %> at odds of <%= @bet.odds.round(2) %> </p>
    <p> If you win you would stand to gain <%= @bet.stake*(@bet.odds/2) %> </p>
    <p> Their proposition is: </p>
    <p> ...............  </p>
    <p> "<%= @bet.proposition %>"" </p>
    <p> ...............  </p>
    <p> Do you accept or reject this bet? </p>
    <div class="bet-confirmation">
      <%= link_to 'Accept', bet_path(@bet, receiver_accepting: true), class: 'btn btn-primary', method: :patch %>
      <%= link_to 'Reject', bet_path(@bet), class: 'btn btn-danger' %>
    </div>
<% end  %>

<% if current_user == @bet.proposer && @bet.status == "pending" %>


      <h1> You sent a bet... </h1>
      <p> <%= @bet.receiver.first_name %> still hasn't replied... </p>
      <p> You want to wager <%= @bet.stake %> at odds of <%= @bet.odds.round(2) %> </p>
      <p> Your proposition is: </p>
        <p> ...............  </p>
      <p> "<%= @bet.proposition %>"" </p>
        <p> ...............  </p>
<% end  %>

<% if @bet.status == "confirmed" %>

    <p> Your bet is live! </p>
    <p> In <%= @bet.deadline %> you will be asked to give your verdict </p>
<% end  %>


<% if current_user == @bet.proposer && @bet.proposer_verdict == nil && @bet.status == "unvalidated" %>

    <h1> This bet needs your validation </h1>
    <p> <%= @bet.receiver.first_name %> had a cheeky flutter with you. %> </p>
    <p> The deadline has now passed - it was <%= @bet.deadline %> </p>
    <p> They wagered <%= @bet.stake %> at odds of <%= @bet.odds.round(2) %> </p>
    <p> Did the proposition happen? <p>
    <p> ...............  </p>
    <p> "<%= @bet.proposition %>" </p>
    <p> ...............  </p>
    <p> Did the event happen? </p>
    <div class="bet-confirmation">
        <%= link_to 'True', bet_path(@bet, proposer_verdict_true: true), class: 'btn btn-primary', method: :patch %>
        <%= link_to 'False', bet_path(@bet, proposer_verdict_false: true), class: 'btn btn-danger', method: :patch %>
    </div>

<% end  %>

<% if current_user == @bet.proposer && @bet.proposer_verdict != nil && @bet.status == "unvalidated" %>

    <p> Your friend hasn't validated yet... I'm sure they will soon. Sit tight! </p>

<% end  %>


<% if current_user == @bet.receiver && @bet.receiver_verdict == nil && @bet.status == "unvalidated" %>

    <h1> This bet needs your validation </h1>
    <p> <%= @bet.proposer.first_name %> had a cheeky flutter with you. %> </p>
    <p> The deadline has now passed - it was <%= @bet.deadline %> </p>
    <p> They wagered <%= @bet.stake %> at odds of <%= @bet.odds.round(2) %> </p>
    <p> Did the proposition happen? <p>
      <p> ...............  </p>
    <p> "<%= @bet.proposition %>" </p>
      <p> ...............  </p>
      <p> Did the event happen? </p>
    <div class="bet-confirmation">
        <%= link_to 'True', bet_path(@bet, receiver_verdict_true: true), class: 'btn btn-primary', method: :patch %>
        <%= link_to 'False', bet_path(@bet, receiver_verdict_false: true), class: 'btn btn-danger', method: :patch %>
    </div>

<% end  %>

<% if current_user == @bet.receiver && @bet.receiver_verdict != nil && @bet.status == "unvalidated" %>

    <p> Your friend hasn't validated yet ... I'm sure they will soon. Sit tight! </p>

<% end  %>

<% if @bet.status == "finished" && current_user == @bet.proposer && @bet.proposer_verdict = @bet.final_outcome  %>

    <h1> You won </h1>

<% end  %>

<% if @bet.status == "finished" && current_user == @bet.proposer && @bet.proposer_verdict != @bet.final_outcome  %>

    <h1> You lost </h1>

<% end  %>


<% if @bet.status == "finished" && current_user == @bet.receiver && @bet.receiver_verdict == @bet.final_outcome  %>

    <h1> You won </h1>

<% end  %>

<% if @bet.status == "finished" && current_user == @bet.receiver && @bet.receiver_verdict != @bet.final_outcome  %>

    <h1> You lost </h1>

<% end  %>

