<%= render 'shared/navbar' %>

<div class="cards-container">
  <div class="rankings-container">
    <div class="personal-ranking">
      <p class="personal-ranking-text">You are currently ranked #<%= @user.ranking %></p>
    </div>
    <% counter = 0 %>
    <% @sorted_usersbyrank.each do |user| %>
      <% counter +=1 %>
      <div class=<%= counter.even? ? "light" : "dark" %> >
        <div class="ranking-left">
          <p class="no-margin ranking-number"><%=user.ranking%></p>
          <%= cl_image_tag user.photo, height: 50, crop: :fill, class: "avatar-bordered" %>
        </div>
        <p class="no-margin"><%= user.first_name %> <%= user.last_name  %></p>
        <div class="ranking-right">
          <span> won: <%= user.wins %> | lost: <%= user.loses %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>

