  <!-- </button> -->
  <!-- <div id="myDropdown" class="dropdown-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div> -->

<div class="dropdown dropupper" >
      <a onclick="myFunction()" class="dropbtn" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown-trigger">
        <i class="fas fa-bars"></i>
      </a>
  <div id="myDropdown" class="dropdown-content">
    <%= link_to home_path do %>
      <svg width="50" height="50" viewBox="0 0 50 40" xmlns="http://www.w3.org/2000/svg" class=<%= current_page?(controller: 'pages', action: 'home') ? 'changefill' : 'btn'%>>
        <path d="M48.4375 7.57856H1.56246C0.699925 7.57856 -9.4801e-07 5.88079 -9.4801e-07 3.78928C-9.4801e-07 1.69746 0.700055 0 1.56246 0H48.4375C49.3001 0 50 1.69778 50 3.78928C50 5.88079 49.2999 7.57856 48.4375 7.57856Z" />
        <path d="M1.24997 17.9667H38.75C39.4401 17.9667 40 19.3249 40 20.9981C40 22.6713 39.44 24.0296 38.75 24.0296H1.24997C0.559941 24.0296 3.88889e-07 22.6713 3.88889e-07 20.9981C3.88889e-07 19.3249 0.559941 17.9667 1.24997 17.9667Z" />
        <path d="M0.984827 33.9371H20.6818C21.2255 33.9371 21.6667 35.2954 21.6667 36.9686C21.6667 38.642 21.2254 40 20.6818 40H0.984827C0.441167 40 6.95765e-07 38.6418 6.95765e-07 36.9686C-8.11684e-05 35.2951 0.441167 33.9371 0.984827 33.9371Z" />
      </svg>
    <% end %>

    <%= link_to bets_path do %>
      <svg width="50" height="50" viewBox="0 0 66 67" xmlns="http://www.w3.org/2000/svg" class=<%= current_page?(controller: 'bets', action: 'index') ? 'changefill' : 'btn' %>>
        <path d="M65.542 11.777L33.467 0.0369941C33.334 -0.0120059 33.184 -0.0120059 33.047 0.0369941L0.916 11.748C0.674 11.836 0.514 12.068 0.514 12.324L0.604 52.808C0.604 53.058 0.756 53.283 0.989 53.374L32.036 65.773V65.845C32.036 66.048 32.138 66.238 32.306 66.353C32.474 66.464 32.685 66.488 32.876 66.415L33.261 66.261L33.646 66.415C33.718 66.443 33.796 66.46 33.873 66.46C33.994 66.46 34.113 66.423 34.217 66.355C34.385 66.24 34.487 66.05 34.487 65.847V65.775L65.534 53.376C65.766 53.283 65.919 53.06 65.919 52.808L65.946 12.355C65.943 12.095 65.784 11.867 65.542 11.777ZM32.035 63.134L3.052 51.562V15.013L32.034 26.585L32.035 63.134ZM33.259 24.439L4.783 13.066L33.263 2.56799L61.998 12.962L33.259 24.439ZM63.465 51.562L34.484 63.134V26.585L63.465 15.013V51.562ZM14.478 38.021C14.478 36.329 15.828 35.493 17.494 36.154C19.159 36.817 20.51 38.727 20.51 40.423C20.509 42.115 19.159 42.952 17.493 42.29C15.827 41.626 14.477 39.714 14.478 38.021ZM5.998 25.375C5.998 23.682 7.349 22.846 9.015 23.509C10.681 24.171 12.031 26.081 12.031 27.776C12.031 29.471 10.68 30.305 9.014 29.643C7.347 28.979 5.998 27.069 5.998 25.375ZM22.959 32.124C22.959 30.43 24.31 29.594 25.976 30.257C27.642 30.92 28.992 32.83 28.992 34.524C28.992 36.219 27.64 37.054 25.975 36.391C24.309 35.728 22.959 33.818 22.959 32.124ZM5.995 43.103C5.996 41.411 7.346 40.574 9.012 41.236C10.678 41.9 12.028 43.809 12.028 45.505C12.028 47.199 10.677 48.035 9.011 47.372C7.344 46.709 5.995 44.797 5.995 43.103ZM22.957 49.853C22.958 48.158 24.308 47.324 25.974 47.986C27.64 48.648 28.99 50.558 28.99 52.255C28.99 53.947 27.639 54.783 25.973 54.121C24.306 53.458 22.957 51.546 22.957 49.853ZM27.81 12.711C27.044 13.939 24.601 14.798 22.348 14.628C20.095 14.459 18.888 13.327 19.653 12.1C20.418 10.873 22.86 10.015 25.114 10.184C27.365 10.352 28.573 11.484 27.81 12.711ZM43.928 13.921C43.164 15.15 40.72 16.007 38.468 15.838C36.213 15.669 35.008 14.536 35.772 13.31C36.536 12.081 38.981 11.224 41.234 11.392C43.485 11.563 44.693 12.695 43.928 13.921ZM47.04 42.328C45.999 41.05 46.276 38.623 47.659 36.907C49.04 35.191 51.003 34.838 52.04 36.115C53.081 37.391 52.804 39.819 51.423 41.535C50.042 43.251 48.079 43.604 47.04 42.328Z" />
      </svg>
    <% end %>

    <%= link_to new_user_bet_path(current_user) do %>
      <svg width="50" height="50" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class=<%= current_page?(controller: 'bets', action: 'new') ? 'changefill2' : 'center-btn' %> >
        <path d="M256 0C114.836 0 0 114.836 0 256C0 397.164 114.836 512 256 512C397.164 512 512 397.164 512 256C512 114.836 397.164 0 256 0ZM368 277.332H277.332V368C277.332 379.777 267.777 389.332 256 389.332C244.223 389.332 234.668 379.777 234.668 368V277.332H144C132.223 277.332 122.668 267.777 122.668 256C122.668 244.223 132.223 234.668 144 234.668H234.668V144C234.668 132.223 244.223 122.668 256 122.668C267.777 122.668 277.332 132.223 277.332 144V234.668H368C379.777 234.668 389.332 244.223 389.332 256C389.332 267.777 379.777 277.332 368 277.332V277.332Z"/>
      </svg>
    <% end %>

    <%= link_to users_path do %>
      <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" class=<%= current_page?(controller: 'users', action: 'index') ? 'changefill' : 'btn' %>>
      <g clip-path="url(#clip0)">
      <path d="M32.5867 12.0777C35.0835 13.6432 36.8343 16.2923 37.1531 19.3674C38.1713 19.8431 39.3015 20.1167 40.4997 20.1167C44.874 20.1167 48.4194 16.5713 48.4194 12.1977C48.4194 7.82336 44.874 4.27795 40.4997 4.27795C36.1671 4.2793 32.6527 7.76136 32.5867 12.0777ZM27.3983 28.2932C31.7726 28.2932 35.318 24.7471 35.318 20.3735C35.318 15.9999 31.7719 12.4544 27.3983 12.4544C23.0246 12.4544 19.4772 16.0005 19.4772 20.3742C19.4772 24.7478 23.0246 28.2932 27.3983 28.2932ZM30.7577 28.833H24.0375C18.4461 28.833 13.8973 33.3826 13.8973 38.9739V47.1922L13.9182 47.3209L14.4842 47.4982C19.8202 49.1654 24.456 49.7214 28.2717 49.7214C35.7244 49.7214 40.0441 47.5966 40.3103 47.4611L40.8393 47.1936H40.8959V38.9739C40.8979 33.3826 36.3491 28.833 30.7577 28.833ZM43.8604 20.6572H37.1921C37.12 23.3252 35.9811 25.7277 34.1798 27.4556C39.1498 28.9334 42.7862 33.5423 42.7862 38.9861V41.5186C49.3703 41.2773 53.1644 39.4113 53.4144 39.286L53.9434 39.0177H54V30.7968C54 25.2061 49.4511 20.6572 43.8604 20.6572ZM13.5017 20.1181C15.051 20.1181 16.4925 19.6659 17.7136 18.8956C18.1018 16.3638 19.459 14.1513 21.3978 12.6445C21.4059 12.4962 21.4201 12.3493 21.4201 12.1997C21.4201 7.82538 17.874 4.27997 13.5017 4.27997C9.12669 4.27997 5.58195 7.82538 5.58195 12.1997C5.58195 16.572 9.12669 20.1181 13.5017 20.1181ZM20.6141 27.4556C18.8215 25.7364 17.6866 23.3468 17.6037 20.6949C17.3564 20.6767 17.1118 20.6572 16.8598 20.6572H10.1402C4.54886 20.6572 0 25.2061 0 30.7968V39.0164L0.0208911 39.1431L0.586971 39.3217C4.86762 40.658 8.68798 41.274 12.0063 41.4681V38.9861C12.0076 33.5423 15.6427 28.9348 20.6141 27.4556Z"/>
      </g>
      <defs>
      <clipPath id="clip0">
      <rect width="50" height="50"/>
      </clipPath>
      </defs>
      </svg>

    <% end %>

    <%= link_to user_path(current_user) do %>
      <svg width="50" height="50" viewBox="0 0 268 335"xmlns="http://www.w3.org/2000/svg" class=<%= current_page?(@user) ? 'changefill' : 'btn' %>>
        <path d="M134.465 171.173C173.379 171.173 204.928 132.855 204.928 85.587C204.928 38.318 194.57 0 134.465 0C74.36 0 64 38.318 64 85.587C64 132.855 95.549 171.173 134.465 171.173Z"/>
        <path d="M0.908998 286.853C0.896998 283.971 0.884998 286.041 0.908998 286.853V286.853Z"/>
        <path d="M267.085 289.104C267.123 288.315 267.098 283.63 267.085 289.104V289.104Z"/>
        <path d="M266.851 283.175C265.547 200.48 254.8 176.916 172.561 162C172.561 162 160.985 176.824 134.003 176.824C107.021 176.824 95.4425 162 95.4425 162C14.1013 176.753 2.70087 199.967 1.20187 280.489C1.07895 287.064 1.02199 287.409 1 286.646C1.005 288.076 1.01099 290.722 1.01099 295.334C1.01099 295.334 20.59 335 134.003 335C247.414 335 266.995 295.334 266.995 295.334C266.995 292.371 266.997 290.31 267 288.908C266.978 289.38 266.934 288.465 266.851 283.175Z"/>
      </svg>
    <% end %>
  </div>
</div>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
  document.getElementById('dropdown-trigger').classList.toggle('active-button');
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
