<%= render 'shared/navbar'%>
<div class="cards-container">
  <% @live_bets.each do |b| %>

    <div class ="card">

      <div class="card-topline">
        <div class="card-users">
          <span class="colored-name"> <%= b.proposer.first_name %></span> <span class="light-grey"> challenged </span> <span class="colored-name"><%= b.receiver.first_name %></span>
        </div>
        <div class="card-odds">
          <%=b.odds.to_r.rationalize(0.05)%>

        </div>
      </div>

      <div class="card-proposition">
        <%= link_to bet_path(b) do %>
          <p><%= b.proposition %></p>
        <% end  %>
      </div>

      <div class="card-bottomline">
        <div class="card-likers" id="card_bet_<%= b.id %>">
          <p>Liked by</p>
            <div>
              <% if b.likes != nil %>
                <% b.likes.each do |like| %>
                  <%= cl_image_tag like.user.photo, height: 50, crop: :fill, id: "user_#{like.user.id}", class: "liker-avatar" %>
                <% end %>
              <%end  %>
            </div>
        </div>

        <% if b.likes.map { |like| like.user_id == current_user.id }.include?(true) %>
        <% like = b.likes.find { |like| like.user_id == current_user.id } %>
          <%= link_to bet_like_path(b.id, like), id: "like_#{like.id}", method: :delete, remote: true do %>
            <div class="card-opaque card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bet_likes_path(b), id: "bet_#{b.id}", method: :post, remote: true do %>
            <div class="card-light card-likes">
              <i class= "fas fa-thumbs-up like-color card_likes"></i>
            </div>
          <% end %>
        <% end %>
      </div>


    </div>
  <% end  %>
</div>



