<%= render 'shared/navbar', title: "" %>
<div class="cards-container">
  <% @live_bets.each do |b| %>

    <div class ="card">
        <div class="card-topline">
          <div class="card-users">
            <span class="colored-name"> <%= b.proposer.first_name %></span> <span> challenged </span> <span class="colored-name"><%= b.receiver.first_name %></span>
          </div>
          <div class="card-odds">
            <%=b.odds.to_r.rationalize(0.05)%>
          </div>
        </div>

        <div class="card-proposition">
            <p><%= b.proposition.truncate(70) %></p>
        </div>

        <div class="card-bottomline1">
          <div class="card-likers">
            <p>Liked by</p>
            <div class="liker-avatars">
            <%=cl_image_tag b.proposer.photo, height: 50, crop: :fill, class: "liker-avatar" %>
            <%=cl_image_tag b.proposer.photo, height: 50, crop: :fill, class: "liker-avatar" %>
            <%=cl_image_tag b.proposer.photo, height: 50, crop: :fill, class: "liker-avatar" %>
            <%=cl_image_tag b.proposer.photo, height: 50, crop: :fill, class: "liker-avatar" %>
            <%=cl_image_tag b.proposer.photo, height: 50, crop: :fill, class: "liker-avatar" %>
            </div>
          </div>
          <div class="card-likes">
            <i class="fas fa-thumbs-up like-color"></i>
          </div>
        </div>

    </div>

    <% end %>
</div>
